<form
  [formGroup]="employeeForm"
  (ngSubmit)="onSubmit()"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label for="name">Name</label>
      </div>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          formControlName="name"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="joiningDate">Joining Date</label>
      </div>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          placeholder="Joining Date"
          formControlName="joiningDate"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="salary">Salary</label>
      </div>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          placeholder="Salary"
          formControlName="salary"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="ssn">SSN</label>
      </div>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          placeholder="SSN"
          formControlName="ssn"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button
          class="btn btn-primary"
          type="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
