<div align="center">
  <div class="col-md-8">
    <p-table
      [value]="searchList"
      [paginator]=true
      [rows]="1"
      [tableStyle]="{'text-align':'center'}"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Created At</th>
          <th>Author</th>
          <th>Story</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-src
      >
        <tr>
          <td>
            {{src.created_at | date: 'MMM d, y, h:mm:ss a' }}
          </td>
          <td>{{src.author}}</td>
          <td>
            <div [innerHTML]="src.comment_text">
              <!-- {{src.comment_text}} -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Testing by displaying json object -->
<!-- <div>{{ searchList | json }}</div> -->
