<form
  [formGroup]="accountForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="name">Name:</label>
      </div>
      <div class="col md-4">
        <input
          id="name"
          type="text"
          formControlName="name"
          class="form-control"
        >
      </div>
      <div class="col md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="dob">Date of birth:</label>
      </div>
      <div class="col md-4">
        <input
          id="dob"
          formControlName="dob"
          type="text"
          class="form-control"
        >
      </div>
      <div class="col md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button
          type="submit"
          class="btn btn-primary"
        >
          Submit
        </button>
      </div>
      <div class="col md-4"></div>
      <div class="col md-4"></div>
    </div>
  </div>
</form>
