<form
  [formGroup]="accountForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="name">Name:</label>
      </div>
      <div class="col md-8">
        <input
          type="text"
          class="form-control"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="name">Date of birth:</label>
      </div>
      <div class="col md-8">
        <input
          type="text"
          class="form-control"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="name">Gender:</label>
      </div>
      <div class="col md-8">
        <input
          type="radio"
          class="form-control"
        >
      </div>
    </div>
  </div>
</form>
