<br>
<br>
<p>
  <p-table [value]="receivedStudents">
    <ng-template pTemplate="header">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-stud
    >
      <tr>
        <td>{{stud.firstName}}</td>
        <td>{{stud.lastName}}</td>
        <td>{{stud.email}}</td>
        <td>{{stud.state}}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onEdit(stud)"
          >
            <i class="fa fa-pencil-square"></i>
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-danger"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <!-- {{
      receivedStudents | json
    }} -->
</p>
