<form
  [formGroup]="employeeForm"
  (ngSubmit)="onSubmit()"
>

<!-- <div *ngIf="employeeForm.invalid" class="alert alert-danger">
  Form invalid
  <div>{{editEmployee | json}}</div>
</div> -->

  <div class="example-container">
    <mat-form-field>
      <input
        matInput
        placeholder="Enter Name"
        id="name"
        formControlName="name"
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Enter Employee ID"
        id="empId"
        formControlName="empId"
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter Employee Salary"
        id="salary"
        formControlName="salary"
      >
      <span matPrefix>$</span>
    </mat-form-field>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>

</form>

<p *ngIf="resp">Employee Inserted!</p>

