<form
  [formGroup]="carsForm"
  (ngSubmit)="onSubmit()"
>
  <div class="container">
    <!-- Make -->
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
            >
              Car make
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            formControlName="make"
            aria-describedby="inputGroup-sizing-default"
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <!-- Model -->
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
            >
              Car model
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            formControlName="make"
            aria-describedby="inputGroup-sizing-default"
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Engine -->

    <div class="row">
      <div class="col-md-8">

        <div class="input-group mb-3">
          <div class="card">
            <div class="card-header">Engine</div>
            <div class="card-body">

              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  id="inputGroup-sizing-default"
                >
                  engine size
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Default"
                formControlName="engine.size"
                aria-describedby="inputGroup-sizing-default"
              >

              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  id="inputGroup-sizing-default"
                >
                  cylinders
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Default"
                formControlName="engine.cylinders"
                aria-describedby="inputGroup-sizing-default"
              >

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Doors -->
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
            >
              Doors
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            formControlName="make"
            aria-describedby="inputGroup-sizing-default"
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Drive -->
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
            >
              Drive
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            formControlName="make"
            aria-describedby="inputGroup-sizing-default"
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Gearbox -->
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
            >
              Gearbox
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            formControlName="make"
            aria-describedby="inputGroup-sizing-default"
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <button
          type="submit"
          class="btn btn-primary"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
