<div class="row">
  <div class="col-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">First Name</span>
      </div>
      <input
        type="text"
        class="text form-control"
      >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Last Name</span>
      </div>
      <input
        type="text"
        class="text form-control"
      >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <label>Gender</label>
  </div>

</div>

<div class="row">
  <div class="col-4">
    <div class="radio">
      <label>
        <input
          type="radio"
          name="optradio"
          checked
        >
        Male
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          name="optradio"
        >
        Female
      </label>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-4">
    <button
      type="submit"
      class="btn btn-primary"
    >Submit</button>
  </div>
</div>
