<div class="container center_div">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input
                type="text"
                class="form-control"
                id="userName"
                placeholder="Enter username"
            >
        </div>
        <div class="form-group">
            <label for="userPassword">User Password</label>
            <input
                type="password"
                class="form-control"
                id="userPassword"
                placeholder="password"
            >
        </div>
        <button
            type="submit"
            class="btn btn-primary"
        >
            Ok
        </button>
    </form>
    <div>Employees:</div>
    <div>{{employees | json}}</div>
</div>
