<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let emp">{{emp.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="empId">
      <mat-header-cell *matHeaderCellDef>Employee Id</mat-header-cell>
      <mat-cell *matCellDef="let emp">{{emp.empId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
      <mat-cell *matCellDef="let emp">$ {{emp.salary}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let emp, let i=index;">
        <button
          type="button"
          class="btn btn-info"
          (click)="onEdit(emp, i)"
        >

          <i class="fa fa-pencil"></i>
        </button> 
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDel(emp)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"
    ></mat-row>
  </mat-table>
</div>
