<div *ngIf="registerForm">
  <!-- The above condition is needed for handling the form rendering for first time when no form created -->
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >

    <div class="example-container">

      <mat-form-field>
        <input
          matInput
          placeholder="Enter Name"
          id="name"
          formControlName="name"
        >
      </mat-form-field>
      <br>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Salary"
          id="salary"
          formControlName="salary"
        >
      </mat-form-field>
      <br>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- have to find out why the below syntax error is appearing... though compiles and works fine -->
      <div
        formArrayName="qualifications"
        *ngFor="let regi of registerForm.get('qualifications').controls; let i=index;"
      >
        <div [formGroupName]="i">
          <mat-form-field>
            <input
              matInput
              placeholder="Enter degree"
              id="degree"
              formControlName="degree"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Enter college"
              id="college"
              formControlName="college"
            >
          </mat-form-field>
        </div>
      </div>
      <div>
        <button
          mat-raised-button
          color="secondary"
          (click)="addQualification()"
        >
          Add
        </button>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button> 

      <button mat-raised-button>Cancel</button>

    </div>

  </form>

  <!-- <div>{{updatedEmployee | json}}</div> -->

</div>
