<div *ngIf='registerForm'>
<!-- The above condition is needed for handling the form rendering for first time when no form created -->
<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>

  <div class="example-container">

    <mat-form-field>
      <input
        matInput
        placeholder="Enter Name"
        id="name"
        formControlName="name"
      >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter Salary"
        id="salary"
        formControlName="salary"
      >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter date of birth"
        id="dob"
        formControlName="dob"
      >
    </mat-form-field>


  </div>

</form>
</div>
